<header class="header" role="banner">
     <nav>
          <ul class="nav" id="nav">
               <li><a href="/">Blog</a></li>
               <li><a href="/about/">About</a></li>
               <li><a href="/contact/">Contact</a></li>
               <li style="display:block;"><a href="#page" class="top">Top</a></li>
          </ul>
          <a href="#nav" class="nav-toggle">Menu</a>
     </nav>
     <h1 class="logo"><a href="/"><span style="color:white;">SIMON</span> KEATLEY</a></h1>
</header>